@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  min-height: calc(100vh - 70px);
  margin-bottom: 8rem;
  animation: slideUp 1s ease-out forwards;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.download-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid black;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.download-button:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.header-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.header-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 2rem;
}


@media (max-width: 968px) {
  .header-content {
    flex-direction: column;
    text-align: center;
  }

  .header-text, .header-image {
    width: 100%;
  }

  .text-image {
    width: 100%;
    max-width: 500px;
  }
}
.header {
  min-height: 50vh;
  width: 100;
  padding: 2rem 5rem;
  margin-top: 30px; 
  box-sizing: border-box;
}

.header-content {
  max-width: 1100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-content h1 {
  font-size: 2.5rem;
  color: #000;
  font-weight: 500;
}

.header-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #000000;
  text-align: left;
  max-width: 1080px;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
  
  .header-content {
    margin-top: 60px;
    gap: 1.5rem;
  }

  .header-content h1 {
    font-size: 2rem;
  }
  .header-content p {
     text-align: center;  
    }
}